
    <footer class="p-3">
        <% let date = new Date(); %>
        <p>&copy; Marsa Maroc tous les droits réservé - <%= date.getFullYear() %> </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Made by Houssam Elgu as an intrenship for the Moroccan port eploiatation corporate
    Github: https://github.com/HoussamElgu -->
</body>
</html>