<%- include("partials/header") %>

    <div class="jumbotron">
        <h1 class="display-4">Erreur d'ajout.</h1>
        <p class="lead">Période du congé invalide, veuillez verifier la date début et la date du fin.</p>
        <hr class="my-4">
        <a class="btn btn-warning btn-lg" href="/nouveau-conge" role="button">Réssayer</a>
    </div>

<%- include("partials/footer") %> 