<%- include("partials/header") %>

    <div class="container content mt-2">
        <div class="container p-3 welcome">
            <h1>Bienvenue User Name</h3>
            <p>Le gestionnaire des congés vous permettez de profiter des fonctionnalités suivantes: </p>
        </div>

        <div class="container">
            <div class="card-deck mb-4">
                <div class="card shadow">
                    <img src="images/form.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Affecter un congé.</h5>
                        <p class="card-text">Ajouter des congés au personnels selon leur service et situation.</p>
                    </div>
                </div>
                <div class="card shadow">
                    <img src="images/list.jpeg" class="card-img-top" height="225.328px">
                    <div class="card-body">
                        <h5 class="card-title">Lister les personnels.</h5>
                        <p class="card-text">Afficher la liste détaillée des personnels du Marsa Maroc.</p>
                    </div>
                </div>
                <div class="card shadow">
                    <img src="images/archive.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Visualiser les congés effectués.</h5>
                        <p class="card-text">Afficher l'historique de tous les congés prisent par les employés.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info p-3 ml-3 mr-3" role="alert">
            <i class="fas fa-info-circle"></i>  Naviger dans le menu au dessus pour utiliser ses fonctionnalités.
        </div>
    </div>

<%- include("partials/footer") %>