<%- include("partials/header") %> 

    <div class="container content mt-5">
        <h1 class="mt-4">Nouveau Congé:</h1>
        <form action="/nouveau-conge" method="POST">
            <div class="form-group">
                <div class="form-group">
                    <label for="">Matricule :</label>
                    <input type="text" name="employeeId" class="form-control" required autocomplete="off" placeholder="Exemple: A01xxx">
                </div>
                <div class="form-group">
                    <label for="">Période de validité :</label>
                    <div class="row">
                        <div class="col">
                            <label for="">Du :</label>
                            <input type="date" name="startDate" class="form-control" required>
                        </div>
                        <div class="col">
                            <label for="">Au :</label>
                            <input type="date" name="endDate" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Nature :</label>
                    <select name="leaveType" class="form-control">
                        <option value="administratif">Administratif</option>
                        <option value="Maternite">Maternité</option>
                        <option value="Maladie Professionnelles ou Accident de travail">Maladie Professionnelles ou Accident de travail</option>
                        <option value="Mariage">Mariage</option>
                        <option value="Naissance">Naissance</option>
                        <option value="Deces">Décès</option>
                        <option value="Circoncision">Circoncision</option>
                        <option value="Hospitalisation du conjoint ou d'un enfant">Hospitalisation du conjoint ou d'un enfant</option>
                    </select>
                </div>
            </div>
            <div class="center p-3">
                <button type="submit" class="btn btn-success m-2">Ajouter</button>
                <button type="reset" class="btn btn-outline-danger m-2">Annuler</button>
            </div>
        </form>
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                Période du congé invalide, veuillez vérifier la date de début et la date du fin du congé.
            </div>
        <% } %>
        <% if (success) { %>
            <div class="alert alert-success" role="alert">
                Congé ajouter avec succès.
            </div>
        <% } %>
    </div>
    

<%- include("partials/footer") %> 