<%- include("partials/header") %> 

    <div class="container container mt-4 p-2 content">
        <h1 class="mt-4">Nouveau Personnel:</h1>
        <form action="/nouveau-personnel" method="POST" class="pl-2 pr-2">
            <div class="form-group">
                <label for="">Matricule :</label>
                <input type="text" class="form-control" name="matricul" required autocomplete="off">
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Nom :</label>
                        <input type="text" class="form-control" name="lastName" required autocomplete="off">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Prénom :</label>
                        <input type="text" class="form-control" name="firstName" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Date de Naissance :</label>
                <input type="date" class="form-control" name="birthDate" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="">Date de Début de service :</label>
                <input type="date" class="form-control" name="startOfWorkDate" required autocomplete="off">
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Fonction :</label>
                        <input type="text" class="form-control" name="function" required autocomplete="off">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Entité :</label>
                        <input type="text" class="form-control" name="entity" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="container center p-3">
                <button class="btn btn-success m-2" >Ajouter</button>
                <a  class="btn btn-outline-danger m-2" href="/list-personnel">Annuler</a>
            </div>
        </form>

        <% if (alert) { %>
            <%- include("partials/alerts-handler") %> 
        <% } %>
    </div>

<%- include("partials/footer") %> 