body {
    text-align: center;
    /* Background by ammiel jr on Unsplash */
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Merriweather', serif;
}

.auth-cntnr {
    width: 50%;
    position: relative;
    top: 20%;
}

.auth-form {
    width: 50%;
    margin: auto;
}