body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f5f6fa
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather';
    margin-bottom: 15px;
}

nav {
    background-color: #dcdde1
}

form {
}

.content {
    text-align: left;
}

.center {
    text-align: center;
}

.welcome {
    margin: auto;
}

.emp-list {
    width: 100%;
    margin: auto;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#343a40;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}